body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    position: relative;
    margin-bottom: 25px;
}

.main-navigation-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background: #ffffff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    opacity: 0.75;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;        

    background-color: #ffffff;
}

.container {
    width: 970px;
    margin: 0 auto;
    padding: 0 0px;
}

.site-navigation,
.user-navigation {
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 540px;
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 230px;
}

.site-navigation a {
    position: relative;
    display: block;
    padding: 18px;

    font-size: 16px;
    color: #00b7f4;
}

.site-navigation li:first-child {
    padding-right: 25px;
}

.services {
    position: relative;
}

.services::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 5px;
    border: solid #00b7f4;
    border-width: 0 2px 2px 0;
    padding: 2px;
    transform: rotate(45deg);
}

.user-navigation a {
    position: relative;
    display: block;
    padding: 20px;
    padding-left: 60px;

    font-size: 14px;
    color: #ffffff;
    background-color: #008bb9;
}

.user-navigation a::before {
    content: "";

    position: absolute;
    top: 20px;
    left: 28px;

    width: 14px;
    height: 14px;

    background-image: url(/img/icon-pen.png);
}

.main-footer {
    margin-top: 90px;
    margin-bottom: 30px;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer p {
    margin: 0;
    padding: 0;
}

.main-footer a {
    margin: 0;
    padding: 0;
}

.footer-contacts {
    position: relative;
    padding-left: 40px;
}

.footer-contacts p {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    
    background-color: #ffffff;
}

.footer-contacts p::before {
    content: "";

    position: absolute;
    top: 0;
    left: 15px;

    width: 15px;
    height: 20px;

    background-image: url(/img/icon-location.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-contacts p::after {
    content: "";

    position: absolute;
    top: 25px;
    left: 15px;

    width: 15px;
    height: 15px;

    background-image: url(/img/icon-time.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-tel a {
    position: relative;
    padding: 15px;
    margin: 0;
    padding-left: 40px;

    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.footer-tel a::before {
    content: "";

    position: absolute;
    top: 17px;
    left: 12px;

    width: 15px;
    height: 25px;

    background-image: url(/img/icon-smartphone.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-support a {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    text-align: center;
    width: 230px;
    padding: 0;
    margin: 0;
    padding: 15px 40px;
    border: 1px solid #00b7f4;
}

.features {
    position: relative;
    padding: 0 15px;
    padding-top: 50px;
    color: #ffffff;

    background-color: #000000;
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.features h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    font-size: 33px;
    line-height: 44px;

    text-align: center;
}

.description {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    font-size: 23px;
    text-align: center;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    list-style: none;
}

.feature-item {
    position: relative;
    width: 293px;
    padding-left: 10px;
    margin-bottom: 50px;
    text-align: left;
}

.feature-item:first-child::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 35px;

    width: 50px;
    height: 50px;

    background-image: url(/img/icon-gear.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 35px;

    width: 50px;
    height: 50px;

    background-image: url(/img/icon-phone.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-item:last-child::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 35px;

    width: 50px;
    height: 50px;

    background-image: url(/img/icon-marketing.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-item p {
    padding: 0;
    margin: 0;
    margin-left: 90px;
}

.social-wrapper {
    position: fixed;
    top: 295px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 52px;
}

.social-wrapper ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

.social-button a {
    display: block;
    margin: 0;
    padding: 0;
    width: 44px;
    height: 44px;

    background-image: url(/img/social.png);
    background-repeat: no-repeat;
    opacity: 0.85;
}

.social-button:first-child a {
    background-position: -5px -5px;
}

.social-button:nth-child(2) a {
    background-position: -3px -56px;
}

.social-button:nth-child(3) a {
    background-position: -105px -3px;
}

.social-button:last-child a {
    background-position: -55px -3px;
}
